.reclist {
    width: 100vw;
    height: 6.8rem;
    /* background-color: pink; */

}

.reclist .title {
    font-size: 0.35rem;
    font-weight: bold;
    border-left: 0.05rem solid #DF0101;
    padding-left: 0.2rem;
    margin-top: 0.2rem;
}

.reclist ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reclist ul li {
    width: 2.2rem;
    height: 2.7rem;
    margin-top: 0.3rem;
    /* background-color: red; */
}

.reclist ul li img{
    width: 100%;
    height: 2rem;
}

.reclist ul li .des{
    font-size: 0.26rem;
}